<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sistema de Pedidos</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

</head>
<body>
	<div class="container my-2">
		<h1>Sistema de Pedidos</h1>
		<hr>
		<h2>Incluir Pedidos</h2>
		<form action="#" th:action="@{/pedidos/salvar}" th:object="${pedido}" method="POST">
			<input type="hidden" id="id" th:field="*{id}">
			
			<input type="text" th:field="*{nome}" placeholder="Nome" class="form-control mb-4 col-4">
			
			<!-- <label for="produto" class="active">Produtos</label> --> 
			<label class="active">Produtos</label><br />
            <select th:field="*{idProduto}">
               <option value="">Selecione um produto</option>
               <option th:each="produto : ${listaProdutos}" th:value="${produto.id}" th:text="${produto.nome}" />
            </select>
            
            <br /><br />
            
            <label>Quantidade</label><br />
            <input type="text" th:field="*{qtd}" placeholder="Quantidade" class="form-control mb-4 col-4">
            	
			<button type="submit" class="btn btn-info col-2">Salvar</button>
		</form>
		
		<hr>
		<a th:href="@{/pedidos}">Retornar para a lista de pedidos</a>
	</div>
</body>
</html>