<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sistema de Gestão de Pedidos</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

</head>
<body>
	<div class="container my-2">
		<a th:href="@{/pedidos/nova}" class="btn btn-primary btn-sm mb-3">Incluir Pedidos</a>
		<a th:href="@{/pessoas}" class="btn btn-primary btn-sm mb-3">Pessoas</a>
		<a th:href="@{/produtos}" class="btn btn-primary btn-sm mb-3">Produtos</a>
		<h1>Pedidos</h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome Pessoa</th>
					<th>Produto</th>
					<th>Quantidade</th>
			
					<!-- <th>Ações</th> -->
				</tr>
			</thead>
			<tbody>
				<tr th:each="pedido : ${listaPedidos}">
					<td th:text="${pedido.id}"></td>
					<td th:text="${pedido.nome}"></td>
					<td th:text="${pedido.idProduto}"></td>
					<td th:text="${pedido.qtd}"></td>
					<!--  <td th:text="${pessoa.departamento}"></td> -->
					<!-- <td>
						<a th:href="@{/pessoas/{id}(id=${pessoa.id})}" class="btn btn-primary">Alterar</a>
						<a th:href="@{/pessoas/excluir/{id}(id=${pessoa.id})}" class="btn btn-danger">Excluir</a>			
					</td> -->
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>