<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sistema de Gestão de Pedidos</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

</head>
<body>
	<div class="container my-2">
		<a th:href="@{/produtos/nova}" class="btn btn-primary btn-sm mb-3">Incluir Produto</a>
		<a th:href="@{/pessoas}" class="btn btn-primary btn-sm mb-3">Pessoas</a>
		<a th:href="@{/pedidos}" class="btn btn-primary btn-sm mb-3">Pedidos</a>
		<h1>Cadastro de Produtos</h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Descrição</th>
					<th>Data Cadastro</th>
					<th>Valor</th>
					<!-- <th>Departamento</th> -->
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto : ${listaProdutos}">
					<td th:text="${produto.nome}"></td>
					<td th:text="${produto.descricao}"></td>
					<td th:text="${produto.dataCadastro}"></td>
					<!-- <td th:text="${#numbers.formatCurrency(produto.valor)}">R$ 3.560,70</td> -->
					<td th:text="${#strings.replace(#numbers.formatCurrency(produto.valor), '.00', '')}">R$ 3.560,70</td>
					
					 
					<td>
						<a th:href="@{/produtos/{id}(id=${produto.id})}" class="btn btn-primary">Alterar</a>
						<a th:href="@{/produtos/excluir/{id}(id=${produto.id})}" class="btn btn-danger">Excluir</a>			
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>